---
- name: Wrapper playbook for {{ filename }}
  hosts: all
  become: true # TODO: evaluate whether script needs to be run as root
  gather_facts: false # TODO: delete this line once we implement this with Ansible

  tasks:
    - name: Copy over script and run it with script_args as extra arguments
      ansible.builtin.script:
        cmd: "{{ filename }} {% raw %}{{ script_args }}{% endraw %}"
